@font-face {
  font-family: 'rubikmonoone';
  src: url('https://zigzagsport.com/fonts/rubikmonoone/rubikmonoone-regular.eot');
  src: local('☺'),
  url('https://zigzagsport.com/fonts/rubikmonoone/rubikmonoone-regular.woff') format('woff'),
  url('https://zigzagsport.com/fonts/rubikmonoone/rubikmonoone-regular.ttf') format('truetype'),
  url('https://zigzagsport.com/fonts/rubikmonoone/rubikmonoone-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Libs
