/* Reset Styles
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
}
html {
  overflow-y: scroll;
  /* 1 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
:focus {
  outline: 0;
}
img {
  vertical-align: middle;
  outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
html,
body,
textarea,
input {
  -webkit-text-size-adjust: none;
}
body {
  text-align: left;
}
/* Form
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  height: 32px;
  -webkit-appearance: button;
  background: transparent;
  letter-spacing: 1px;
  border: 1px;
  text-transform: uppercase;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background: #fff;
  outline: none;
  border: 1px solid #c9d6df;
  color: #c9d6df;
  font-size: 12px;
  height: 29px;
  padding: 0 14px;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c9d6df;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #c9d6df;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #c9d6df;
}
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #c9d6df;
}
/* Float & Align
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* Clearfix
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.clear {
  clear: both;
}
/* Links
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
a {
  text-decoration: none;
  cursor: pointer;
  /*.transition(color 100ms linear);*/
}
/* Typography
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
p {
  margin: 0 0 1em 0;
  text-align: left;
  line-height: 1.8;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  border: 0;
}
.small {
  font-size: 10px;
}
/* Framework TYPO
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.story {
  line-height: 1.5;
}
.story ul {
  list-style: square;
}
.story ul li {
  list-style: square;
}
.story ol {
  list-style: decimal;
}
.story ol li {
  list-style: decimal;
}
.story ul,
.story ol {
  margin: 0 0 1em 1.5em;
  line-height: 1.5;
}
.story ul ul,
.story ol ul,
.story ul ol,
.story ol ol {
  margin-bottom: 0;
}
.story ol ol {
  list-style: upper-alpha;
}
.story ol ol ol {
  list-style: lower-roman;
}
.story ol ol ol ol {
  list-style: lower-alpha;
}
.story h1,
.story h2,
.story h3,
.story h4,
.story h5,
.story h6 {
  text-transform: none;
  margin-bottom: 0.5em;
}
.story a:link,
.story a:visited,
.story a:hover,
.story a:active {
  text-decoration: none;
}
.story table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 18px;
}
.story table td,
.story table th {
  padding: 6px 10px;
  text-align: center;
  border: 1px solid #ccc;
}
.story table th {
  font-weight: bold;
}
.story pre,
.story code {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 2px #d0d0d0;
  color: #4a4a4a;
  display: block;
  margin: 10px 15px 10px 0;
}
.story address {
  display: inline-block;
  padding: 20px;
  background: #eaeaea;
  line-height: 20px;
  margin-bottom: 15px;
}
.story blockquote {
  font-style: italic;
  border-left: 2px dotted #9b9b9b;
  padding-left: 15px;
  margin: 1em 3em;
}
.story blockquote p:before {
  content: '"';
}
.story blockquote p:after {
  content: '"';
}
.story .wp-caption {
  box-shadow: 1px 1px 2px #bebebe;
  width: auto;
}
.story .wp-caption p.wp-caption-text {
  background: #ffffff;
  text-align: center;
  color: #a1a1a1 !important;
  margin: 0 !important;
}
.story dl {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 2px #d0d0d0;
  color: #4a4a4a;
  display: block;
  margin: 10px 20px 10px 0;
}
.story dl dt {
  width: 150px;
  float: left;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
  text-transform: uppercase;
}
.story dl dd {
  margin-left: 160px;
  margin-bottom: 10px;
  line-height: 18px;
}
.story img.size-auto,
.story img.size-full,
.story img.size-large,
.story img.size-medium,
.story .attachment img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */
}
.story .alignleft,
.story img.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.story .alignright,
.story img.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.story .aligncenter,
.story img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.story img.alignleft,
.story img.alignright,
.story img.aligncenter {
  margin-bottom: 1em;
}
.story .wp-caption {
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}
.story .wp-caption p.wp-caption-text {
  color: #888;
  font-size: 11px;
  margin: 0;
  padding: 5px;
}
.story .wp-smiley {
  margin: 0;
}
