$white: #e0e0e0;
$black: #181727;
$colorDark: #0e0e17;
$colorBlue: #1d1c2f;
$colorGreen: #3cca3f;
$colorGray: #8c8b93;
$colorBg: #d1d1d3;


$colorRed: #ff0066;
$colorYellow: #ff9900;
$colorPurple: #391f6d;
$colorViolet: #674aa3;


$btn_color1: $colorRed;
$item_color1: $colorViolet;
$item_color2: $colorPurple;


$s3ImgPath: "https://d1ridz0c354lu7.cloudfront.net/img/zigzagsport/";
$s3OtherPath: "https://d1ridz0c354lu7.cloudfront.net/img/zigzagsport/other/";
